<div class="main-container">
  <header>
    <h1>Angular 19 + Nestjs SSR DEMO</h1>
    <div>appMsg:====[{{appMsg}}]</div>
    <nav>
      <ul>
        <!-- <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">首页</a></li> -->
        <li><a routerLink="/page1" routerLinkActive="active">page1</a></li>
        <li><a routerLink="/page2" routerLinkActive="active">page2</a></li>
      </ul>
    </nav>
  </header>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
